th{
    font-weight: 500;
    padding: 5px 10px;
}

td{
    padding: 8px 10px;
}

thead{
    background-color: #F9FAFB;
}

/* Scrollbar personnalisée */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #d1d5db; /* gris clair */
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #9ca3af; /* gris plus foncé */
}