.cryptos-list{
    border-bottom: 1px solid #CCCC;
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.pause-on-hover:hover .animate-marquee {
  animation-play-state: paused;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}